.home-bottom {
  padding: 2em 10em;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-text {
  padding-bottom: 5em;
}

.section:first-child {
  padding-right: 4em;
  text-wrap: wrap;
}

.section:last-child {
  padding-left: 4em;
}

.section h2 {
  color: #36536b;
}

.section p {
  color: #6c8294;
}

@media (max-width: 1000px) {
  .home-bottom {
    padding: 1.5em;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    place-items: center;
  }

  .section:first-child {
    padding: 0;
    width: 100%;
  }

  .section:last-child {
    flex-direction: column-reverse;
    padding: 0;
  }

  .home-bottom img {
    width: 100%;
  }
}
