.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 8% 1% 8%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  background-color: transparent;
}
.navbar h3 {
  display: flex;
  color: #36536b;
  gap: 50%;
}

.part {
  display: flex;
  gap: 70px;
  align-items: center;
}

.part button {
  background-color: #ba4270;
  color: white;
  border-radius: 24px;
  height: 48px;
  width: 173px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
