.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 1.5em 10em;
}

.left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  justify-content: end;
}

.navbar .link {
  color: rgb(109, 131, 149);
}

.navbar .link:hover {
  color: #36536b;
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: space-evenly;
    padding: 1.5em;
  }

  .left {
    justify-content: center;
    gap: 1.5em;
    width: 70%;
  }

  .right {
    width: 30%;
  }
}
