.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 1.5em 10em;
  background-color: #1b262f;
}
.left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  justify-content: end;
}

.footer .logos {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.footer .left img {
  filter: brightness(100);
}

.footer .link {
  color: rgb(184, 188, 192);
}

.footer .link:hover {
  color: #fbfcfe;
}

@media (max-width: 1000px) {
  .footer {
    justify-content: space-evenly;
    padding: 1.5em;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .left {
    flex-direction: column;
    justify-content: center;
  }

  .footer .logos {
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .footer .right {
    justify-content: center;
    padding-top: 1em;
  }
}
