body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Serif Display";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  background-color: #edf3f8;
  /* background: url("/public/assets/shared/desktop/bg-pattern-circle.svg") 1000px -300px
      no-repeat,
    url("/public/assets/shared/desktop/bg-pattern-circle.svg") 1100px 1200px
      no-repeat,
    url("/public/assets/shared/desktop/bg-pattern-circle.svg") -10.3em 24.5em no-repeat; */
}

h1 {
  font-size: 72px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #6c8294;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: #6c8294;
  font-weight: 600;
}

h1 {
  color: #36536b;
}

input {
  color: #6c8294;
  font-weight: 500;
  font-size: 15px;
}

h2 {
  font-size: 48px;
  color: #fbfcfe;
}

h4 {
  font-size: 18px;
  color: #36536b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
