body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Serif Display";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-color: #edf3f8;
  background-image: url("/public/assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
}

p {
  font-family: "Public Sans";
}
